[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu124/"
verify_ssl = false
name = "pytorch"

[packages]
requests = "*"
pandas = "*"
jupyter = "*"
notebook = "*"
scikit-learn = "*"
numpy = "*"
sqlalchemy = "*"
ipykernel = "*"
python-dotenv = "*"
texas-hold-em-utils = "==0.1.9"
psycopg2 = "*"
torch = {index = "pytorch", version = "*"}
torchvision = {index = "pytorch", version = "*"}
torchaudio = {index = "pytorch", version = "*"}
gymnasium = "*"
matplotlib = "*"
flappy-bird-gymnasium = "*"
tensorflow = "*"
pyyaml = "*"
